body{
    font-family: Helvetica Neue, Arial;
    font-size: 18px;
}

h1, h2 {
    color: #2f58c9;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

.main-text {
    text-align: justify;
}

#author-text {
    font-size: 24px;
}
